body{
    background-color:rgb(55, 55, 55);
}

.hidden{
    display: none;
}


.red-active{
    color:red;
}

.pull-right{
    float:right;
}

h1#piece-title {
    color: #FFD40F;
    font-size: 69px;
    float: left;
    font-family: Papyrus;
}

button#reset {
    width: 150px;
    height: 50px;
    font-size: 30px;
    font-family: monospace;
    background-color: #E02345;
    border: none;
    outline: none;
    cursor: pointer;
}

button#help {
    width: 150px;
    height: 50px;
    font-size: 30px;
    font-family: monospace;
    background-color: #F7F76F;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
    position: absolute;
    bottom: 12px;
    right: 0;
}

#help-panel{
    position: absolute;
    top: calc(-300px - 45px);
    left: 0;
    width: calc(100% - 40px);
    height: 300px;
    background-color: #3EBFA2;
    z-index: 1;
    -webkit-transition: top 1s ease;
    transition: top 1s ease;
    color: black;
    padding: 20px;
    border-bottom: 5px solid white;
}

#help-panel.open{
    top: 0px;
}

#help-panel div.help-item {
    display: inline-block;
    width: calc(20% - 4px);
    background-color: #EAD73D;
    height: calc(300px - 0px);
    float: left;
    margin-left: 4px;
}

#help-panel div.help-item h3 {
    margin-top: 0;
    padding-top: 15px;
    padding-left: 20px;
    font-size: 20px;
    margin-bottom: 0;
}

.help-item ol, .help-item ul {
  height: 60px;
}

.help-item div.gifs{ 
    height: 125px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
}

.help-item div.gifs img{
    width: 111px;
}

.config-wrapper{
    width: 1100px;
    height: 934px;
    /* margin: 0 auto; */
    position: absolute;
    left: 50%;
    margin-left: -550px;
    top: 50%;
    margin-top: -469px;
}

.config-wrapper.active{
    border: 5px solid #EF2B2B;
    margin-top: -469px;
    margin-left: -550px;
}

.config-wrapper > div{
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background-color: aliceblue;
    position: absolute;
    padding: 10px;
}

.config-wrapper > div > label > img{
    margin-left: 10px;
    top: 12px;
    position: relative;
}

#piano label img{
    width: 23px;
    top: 4px;
}

#bass label img {
    width: 27px;
    top: 5px;
}

#kick > h1, #clap h1{
    text-align: center;
}

#kick label, #clap label{
    display: block;
    font-size: 25px;
    margin-left: 20px;
    margin-top: 20px;    
}

#kick input, #clap input {
    width: 75%;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#bass h1{
    text-align: center;
}

#bass label {
    display: block;
    font-size: 25px;
    margin-left: 12%;
    height: 50px;
    line-height: 50px;
}

#bass input {
    width: 75%;
    margin-left: 12.5%;
}

#bass h2{
    margin-left: 12.5%;
}


#flute h2 {
  margin-bottom: 0.2em;
  margin-left: 12.5%;
  text-decoration: underline;
}

#flute label {
    display: block;
    font-size: 20px;
    margin-left: 12.5%;
}

#flute input {
  width: 75%;
  margin-left: 12.5%;
}


#piano label {
  display: block;
  margin-left: 12.5%;
  font-size: 26px;
  height: 80px;
  line-height: 80px;
}

#piano input {
  width: 75%;
  margin-left: 12.5%;
}

#piano h1{
    text-align: center;
}

#piano h2 {
  margin-bottom: 0.2em;
  margin-left: 12.5%;
  text-decoration: underline;
}










#create{
    background-color: #19B4DE;
    width: 200px;
    border: 5px solid white;
    position: absolute;
    top: 50%;
    margin-top: -230px;
}

.list-title{
    text-align: center;
    border-bottom: 2px solid white;
    padding-bottom: 0.67em;
    margin-bottom: 0;   
}

.side-list{
    margin:0;
    padding:0;
    list-style-type: none;
}

.side-list li{
    padding: 10px;
    font-size: 20pt;
    text-align: center;
    letter-spacing: 15px;
    font-weight: bold;
    font-family: "papyrus";
    overflow: :hidden;
}

.side-list li.selected{
    background-color: gainsboro;
}

.side-list li svg {
    position: absolute;
}

.side-list li circle{
    fill: rgba(255,255,255,0.75);
}


#sound-history{
    float: right;
    background-color: orange;
    border: 5px solid white;
    width: 200px;
}

#sound-history ol li{
    padding:2px;
}

#sound-history h1.list-title{
    font-size: 26px;
}

/* Progress bar styling */
.meter{
    height: 3px;
    position: relative;
    margin: 0 -10px -10px;
    background: #555;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    -moz-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.meter > span {
    display: block;
    height: 100%;
    background-color: rgb(43,194,83);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(43,194,83)), color-stop(1, rgb(84,240,84)) );
    background-image: -moz-linear-gradient( center bottom, rgb(43,194,83) 37%, rgb(84,240,84) 69% );
    -webkit-box-shadow: inset 0 2px 9px rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0 2px 9px rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
    box-shadow: inset 0 2px 9px rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}
.meter > span:after, .animate > span > span {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent) );
    background-image: -moz-linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent );
    z-index: 1;
    -webkit-background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    background-size: 50px 50px;
    -webkit-animation: move 2s linear infinite;
    -moz-animation: move 2s linear infinite;
    overflow: hidden;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border-radius: 20px;
  background: #545454;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  /*background: #EAC21A;*/
  background: #EA2C1F;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type=range]:active::-webkit-slider-thumb {
  height: 35px;
  width: 35px;
  margin-top:-15px;
}
    