body{
    background-color:rgb(55, 55, 55);
}

.sounds-wrapper{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}

.bar-wrapper{
    display: inline-block;
    background-color: rgb(21, 69, 90);
    width: 200px;
    height: 700px;
    margin-left: 37px;
    text-align: center;
    overflow:hidden;
}

.bar-wrapper p{
    font-size:30px;
    font-family:Broadway;
    color:white;
}


.bar{
    width: 100px;
    height: 300px;
    background-color: rgb(142, 13, 23);
    margin: 0 auto;
}

#keyboard{
    width: 1000px;
    height: 200px;
    margin: 0 auto;
    background-color: rgb(87, 87, 87);
    padding-top: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.key{
    width: calc( 1000px / 16 );
    height: 100%;
    background-color: rgb(113, 113, 113);
    display: inline-block;
}

.vol-bar{
    width: 300px;
    transform: rotate(90deg);
    position: relative;
    top: 255px;
    left: -152px;
}

#create{
    background-color: #19B4DE;
    width: 200px;
    border: 5px solid white;
    position: absolute;
    top: 50%;
    margin-top: -230px;
}

#create h1{
    text-align: center;
    border-bottom: 2px solid white;
    padding-bottom: 0.67em;
    margin-bottom: 0;   
}

#create ul{
    margin:0;
    padding:0;
    list-style-type: none;
}

#create ul li{
    padding: 10px;
    font-size: 20pt;
    text-align: center;
    letter-spacing: 15px;
    font-weight: bold;
    font-family: "papyrus";
    overflow: :hidden;
}

#create ul li.selected{
    background-color: gainsboro;
}

#create ul li svg {
    position: absolute;
}

#create ul li circle{
    fill: rgba(255,255,255,0.75);
}

/* Progress bar styling */
.meter{
    height: 3px;
    position: relative;
    margin: 0 -10px -10px;
    background: #555;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    -moz-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.meter > span {
    display: block;
    height: 100%;
    background-color: rgb(43,194,83);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(43,194,83)), color-stop(1, rgb(84,240,84)) );
    background-image: -moz-linear-gradient( center bottom, rgb(43,194,83) 37%, rgb(84,240,84) 69% );
    -webkit-box-shadow: inset 0 2px 9px rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0 2px 9px rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
    box-shadow: inset 0 2px 9px rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}
.meter > span:after, .animate > span > span {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent) );
    background-image: -moz-linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent );
    z-index: 1;
    -webkit-background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    background-size: 50px 50px;
    -webkit-animation: move 2s linear infinite;
    -moz-animation: move 2s linear infinite;
    overflow: hidden;
}